:root {
  --black: #000000;
  --lightblck: #2e2e2e;
  --metal: #31393c;
  --lightmetal: #5f5f5f;
  --blue: #2a76b4;
  --green: #3ecd75;
  --darkgreen: #218953;
  --white: #ffffff;
  --red: #ff0000;
  transition: all 0.5s ease;
}

:root.dark-mode {
  --black: #eaeaea;
  --lightblck: #e7e7e7;
  --metal: #d3d3d3;
  --lightmetal: #c2c2c2;
  --blue: #4580e6;
  --green: #006d41;
  --darkgreen: #02482f;
  --white: #000000;
  --red: #ff0000;
  transition: all 0.5s ease;
}

html,
body {
  margin: 0;
  padding: 0;
}
button {
  background: none;
  border: 0;
  margin: 0;
  padding: 10px;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: var(--darkgreen);
  transition: background-color 0.3s ease-in-out;
}
button:hover {
  color: var(--green);
  background-color: var(--lightmetal);
}

#title_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--metal);
  padding: 0px;
  border-bottom: 3px solid #5f5f5f;
}

#center_text {
  color: var(--darkgreen);
  text-align: center;
}
#subheading {
  color: var(--green);
}
#hide_sidebar,
#dark_mode {
  font-size: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#hide_sidebar:hover,
#dark_mode:hover {
  color: var(--green);
  background-color: var(--lightmetal);
  transition: background-color 0.3s ease-in-out;
  border-radius: 20px;
}

#container {
  background-color: inherit;
  display: flex;
  height: 100vh; /* set the container's height to the full viewport height */
}

#sidebar {
  background-color: var(--lightblck);
  flex: 1; /* set the sidebar element's flex value to 1/4 */
  border-right: 2px solid #5f5f5f;
}
#sidebar.hide {
  display: none;
}
#sidebar-header {
  color: var(--darkgreen);
  background-color: var(--lightblck);
  border-bottom: 2px solid #5f5f5f;
}

#sidebar h1 {
  background-color: inherit;
  display: inline-block;
  font-weight: bold;
  padding-left: 13px;
}
#add_new_button {
  font-size: 50px;
  float: right;
  padding: auto;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease-in-out;
  padding-right: 13px;
}
#add_new_button:hover {
  color: var(--green);
  border-radius: 15px;
}

#sidebar-content {
  height: calc(100vh - 78px);
  overflow-y: scroll;

  color: var(--darkgreen);
  background-color: var(--lightblck);
}
.sidebar-note {
  background-color: inherit;
  padding: 25px;
  cursor: pointer;
  border: var(--lightmetal);
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

.sidebar-note:hover {
  background: var(--lightmetal);
  border-radius: 20px;
}
.sidebar-note.active,
.sidebar-note.active small {
  background: var(--lightmetal);
  color: var(--green);
  border-radius: 20px;
}

#mainbar {
  border-left: 2px solid #2e2e2e;
  flex: 3; /* set the main element's flex value to 3/4 */
}
#mainbar-no-active-note {
  border-left: 2px solid #2e2e2e;
  flex: 3;
  color: var(--darkgreen);
  background-color: var(--lightblck);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

#mainbar-header {
  display: flex;
  justify-content: space-between;
  border-bottom: #2e2e2e;
  color: var(--darkgreen);
  background-color: var(--lightblck);
}
#mainbar-content {
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-color: var(--lightblck);
  height: 100%;
}
#mainbar-title-input {
  background-color: var(--lightblck);
  border: none;
  color: var(--darkgreen);
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
}
#mainbar-title {
  display: inline-block;
  margin: 0;
}

#mainbar-buttons {
  display: flex;
  justify-content: flex-end;
}

#mainbar-buttons button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#mainbar-buttons button:hover {
  color: var(--green);
  background-color: var(--lightmetal);
  border-radius: 15px;
}
#date {
  color: var(--darkgreen);
  background-color: var(--lightblck);
  border: none;
}

.ql-container.ql-snow {
  border: 1px solid var(--lightblck) !important;
}
.ql-toolbar.ql-snow {
  border: 1px solid var(--lightmetal) !important;
}
.ql-toolbar.ql-snow .ql-picker-label {
  color: var(--green);
}

.ql-fill {
  fill: var(--green) !important;
}
.ql-stroke {
  stroke: var(--green) !important;
}
.quill-container {
  border: none;
}
.ql-toolbar {
  border: none;
}
